.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d211b; /* Darker green */
  color: white;
}

.logo {
  font-size: 24px;
  font-style: italic;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.buttons button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}